Omra/Omra/Service References/NaplozoNamespace/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetNaplo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ido" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNaploResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNaploResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NaplobaIras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szoveg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NaplobaIrasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>